@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
    font-weight: bold;
}

body{
    background-color: black;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Lato';
}

html {
    height: 100%;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    color: white;
}

label{
    color: white;
}

input{
    border-radius: 50px;
    text-align: center;
}

.botoes{
    display: flex;
    flex-direction: row;
}

li{
    color: white;
    list-style-type: decimal;
}

